In [15]:
import pandas as pd

In [16]:
file_path = 'E:\Adobe Dont Move\Projects Pending\Develop Oracle of DICVR\DataSets\dsc_fc_summed_spectra_2023_v01.csv'  # Replace with the path to your CSV file
df = pd.read_csv(file_path)
df

C:\Users\chali\AppData\Local\Temp\ipykernel_8944\2174938613.py:2: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,Time,V1,V2,V3,S1,S2,S3,S4,S5,S6,...,S41,S42,S43,S44,S45,S46,S47,S48,S49,S50
0,01/01/2023 0:00,-2.70274,4.51236,-1.45806,43.044500,0.231726,0.231726,0.818269,22.60750,0.231726,...,370.588,322.576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01/01/2023 0:01,-2.82748,4.69308,-0.94909,23.756600,0.231726,0.315117,1.063280,11.22800,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01/01/2023 0:02,-1.87608,4.48063,-2.58877,61.344500,0.231726,0.231726,11.327000,19.76130,0.231726,...,330.078,242.390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01/01/2023 0:03,-2.71541,4.74902,-0.324706,23.489500,0.231726,0.460690,3.708190,8.67441,0.231726,...,391.771,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01/01/2023 0:04,-2.93342,4.77895,-0.0475839,26.517100,0.231726,0.231726,0.231726,10.46320,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175675,02/05/2023 23:55,4.33665,2.80127,0.954633,1.004790,0.231726,4.647570,0.626576,3.54595,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175676,02/05/2023 23:56,4.66778,2.10582,1.26066,0.781621,0.231726,5.972220,0.360648,3.39143,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175677,02/05/2023 23:57,4.28322,3.02154,0.927773,0.854185,0.231726,8.104540,2.025800,4.22000,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175678,02/05/2023 23:58,4.31376,2.67727,1.72327,0.801559,0.231726,12.762100,2.818550,4.82242,0.301864,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175679,02/05/2023 23:59,4.51542,2.30317,1.83257,2.265740,0.231726,11.687000,1.892900,2.39384,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df.replace(0, float('nan'), inplace=True)
df

,Time,V1,V2,V3,S1,S2,S3,S4,S5,S6,...,S41,S42,S43,S44,S45,S46,S47,S48,S49,S50
0,01/01/2023 0:00,-2.70274,4.51236,-1.45806,43.044500,0.231726,0.231726,0.818269,22.60750,0.231726,...,370.588,322.576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2023 0:01,-2.82748,4.69308,-0.94909,23.756600,0.231726,0.315117,1.063280,11.22800,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2023 0:02,-1.87608,4.48063,-2.58877,61.344500,0.231726,0.231726,11.327000,19.76130,0.231726,...,330.078,242.390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2023 0:03,-2.71541,4.74902,-0.324706,23.489500,0.231726,0.460690,3.708190,8.67441,0.231726,...,391.771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2023 0:04,-2.93342,4.77895,-0.0475839,26.517100,0.231726,0.231726,0.231726,10.46320,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175675,02/05/2023 23:55,4.33665,2.80127,0.954633,1.004790,0.231726,4.647570,0.626576,3.54595,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175676,02/05/2023 23:56,4.66778,2.10582,1.26066,0.781621,0.231726,5.972220,0.360648,3.39143,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175677,02/05/2023 23:57,4.28322,3.02154,0.927773,0.854185,0.231726,8.104540,2.025800,4.22000,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175678,02/05/2023 23:58,4.31376,2.67727,1.72327,0.801559,0.231726,12.762100,2.818550,4.82242,0.301864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175679,02/05/2023 23:59,4.51542,2.30317,1.83257,2.265740,0.231726,11.687000,1.892900,2.39384,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df['Time'] = pd.to_datetime(df['Time'], format='%d/%m/%Y %H:%M')
df.set_index('Time', inplace=True)
df

,V1,V2,V3,S1,S2,S3,S4,S5,S6,S7,...,S41,S42,S43,S44,S45,S46,S47,S48,S49,S50
Time,,,,,,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,-2.70274,4.51236,-1.45806,43.044500,0.231726,0.231726,0.818269,22.60750,0.231726,0.231726,...,370.588,322.576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:01:00,-2.82748,4.69308,-0.94909,23.756600,0.231726,0.315117,1.063280,11.22800,0.231726,0.355214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:02:00,-1.87608,4.48063,-2.58877,61.344500,0.231726,0.231726,11.327000,19.76130,0.231726,0.231726,...,330.078,242.390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:03:00,-2.71541,4.74902,-0.324706,23.489500,0.231726,0.460690,3.708190,8.67441,0.231726,2.614280,...,391.771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:04:00,-2.93342,4.77895,-0.0475839,26.517100,0.231726,0.231726,0.231726,10.46320,0.231726,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-02 23:55:00,4.33665,2.80127,0.954633,1.004790,0.231726,4.647570,0.626576,3.54595,0.231726,1.795390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:56:00,4.66778,2.10582,1.26066,0.781621,0.231726,5.972220,0.360648,3.39143,0.231726,0.506513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:57:00,4.28322,3.02154,0.927773,0.854185,0.231726,8.104540,2.025800,4.22000,0.231726,2.344650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:58:00,4.31376,2.67727,1.72327,0.801559,0.231726,12.762100,2.818550,4.82242,0.301864,0.355221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:59:00,4.51542,2.30317,1.83257,2.265740,0.231726,11.687000,1.892900,2.39384,0.231726,2.772970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
for column in df.columns[:3]:
    df[column] = pd.to_numeric(df[column], errors='coerce')
print(df.dtypes)

V1     float64
V2     float64
V3     float64
S1     float64
S2     float64
S3     float64
S4     float64
S5     float64
S6     float64
S7     float64
S8     float64
S9     float64
S10    float64
S11    float64
S12    float64
S13    float64
S14    float64
S15    float64
S16    float64
S17    float64
S18    float64
S19    float64
S20    float64
S21    float64
S22    float64
S23    float64
S24    float64
S25    float64
S26    float64
S27    float64
S28    float64
S29    float64
S30    float64
S31    float64
S32    float64
S33    float64
S34    float64
S35    float64
S36    float64
S37    float64
S38    float64
S39    float64
S40    float64
S41    float64
S42    float64
S43    float64
S44    float64
S45    float64
S46    float64
S47    float64
S48    float64
S49    float64
S50    float64
dtype: object

In [20]:
df_resampled = df.resample('10T').mean()
df_resampled

,V1,V2,V3,S1,S2,S3,S4,S5,S6,S7,...,S41,S42,S43,S44,S45,S46,S47,S48,S49,S50
Time,,,,,,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,-1.844482,4.742656,-0.863773,38.230590,0.231726,0.504703,6.470798,13.287632,0.270245,0.994626,...,348.664714,284.763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:10:00,0.034649,4.654619,-1.950818,16.352124,0.231726,1.364309,47.448678,1.815062,0.231726,14.079935,...,300.171100,283.790,431.581,406.014,342.999,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:20:00,-0.133316,5.347223,-1.213821,0.379767,0.231726,1.427599,60.715550,0.231726,0.231726,27.613820,...,284.136600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:30:00,-3.307559,0.901548,1.919808,14.122229,0.231726,1.080164,16.032595,5.315933,0.231726,8.186379,...,285.882000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:40:00,-4.333117,-0.559587,2.469173,18.957729,0.231726,0.270926,0.709668,5.874295,0.231726,0.301340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-02 23:10:00,3.410138,4.030427,0.151170,0.361300,0.231726,18.373830,22.667920,6.376837,0.308658,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:20:00,3.660334,3.639476,0.172735,0.756162,0.231726,19.870650,22.283780,7.403633,0.582513,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:30:00,3.502100,3.850964,0.341123,0.389590,0.231726,17.551720,21.810110,7.856236,0.422495,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:40:00,3.704465,3.615807,0.529737,1.038321,0.231726,12.828944,13.303271,6.298666,0.418974,0.994345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-02 23:50:00,3.873762,3.323842,0.888566,1.147081,0.231726,9.723366,1.774662,4.120514,0.255474,2.611092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
output_file_path = 'E:\Adobe Dont Move\Projects Pending\Develop Oracle of DICVR\output2023.csv'  # Specify the path for the output CSV file
df_resampled.to_csv(output_file_path, float_format='%.4f')